# Environment
.env
.venv
env/
venv/
ENV/

# Jupyter
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# VSCode
.vscode/
*.code-workspace

# Python
__pycache__/
*.py[cod]
*$py.class

# AWS
.aws/
*.pem

# Output files
bedrock_setup_check_*.json
